<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="FormResult">
	<test name="FormResultPdf" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="eminForm" />
				<include name="lecCoolIntake" />				
			</run>
		</groups>
		<classes>
			<class name="com.biit.form.result.pdf.EminTest" />
			<class name="com.biit.form.result.pdf.LecCoolIntake" />
		</classes>
	</test>
</suite>

